body {
    display: flex;
    flex-direction: column;
}
main {
    flex: auto;
}
footer {
  height 80px
}

.content {
  max-width 920px
  margin: 0 auto
  @media (max-width: 920px){
    padding-left 10px
    padding-right 10px
  }
}
