

.collection-info, .stamp-info {
    position relative
    margin:40px 0 40px 0;
    background #fff;
    padding:20px 50px 60px 20px;
    border-radius 10px

    h1 {
      text-align left
      font-weight 200
      font-size 22px
      padding 0px 0 20px 12px
      margin:0;
      .status {
        position: relative
        top: -2px
      }
    }

    p {
      margin:10px 12px

      b {
        font-weight 200
      }
    }
}

.collection-info .stamps-list {
    overflow-x: auto;
    position relative
    margin:40px 0 40px 0;
    background #fff;
    padding:20px 20px 30px 0px;
    border-radius 10px

    a.uri {
      font-size 12px
      display block
      width 60px
      overflow hidden
      text-overflow ellipsis
    }

    table {
      border-collapse collapse
      width 100%
      caption {
        text-align left
        font-weight 200
        font-size 18px
        padding 0px 0 20px 12px
      }
      th {
        text-transform uppercase
        font-weight 200
        font-size 12px
      }
      th,td {
        text-align left
        padding:10px 15px;
        vertical-align top
      }
      td.empty {
        text-align center
        padding 50px 30px
      }

      tbody tr.item:hover td {
        background rgba(138, 194, 255, 0.1)
      }

      tfoot th {
        text-align right
      }
    }
}
