@import '/src/view/login/login.styl'

bgcolor = #e6f5ff

a {
  tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

html, body {
  background: bgcolor
  font-family: sans-serif
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;

  & * {
    user-select none
    box-sizing border-box
  }
}

body {
    display: flex;
    flex-direction: column;
}
main {
    flex: auto;
}
footer {
  height 80px
}

.content {
  max-width 920px
  margin: 0 auto
  @media (max-width: 920px){
    padding-left 10px
    padding-right 10px
  }
}

body.loading::after {
  content: 'Loading...';
  z-index 999
  position:absolute;
  top:0; left:0; bottom:0; right:0
  display:flex;
  align-items: center;
  justify-content: center;

  font-size: 21px; text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 1px;
  color: #333;
  background: rgba(230, 245, 255, 0.7);
  backdrop-filter:grayscale(1);

  animation: pulse_animation 400ms linear infinite;
}

@keyframes pulse_animation {
  0% 	 { color: #333; }
  50%  { color: rgba(0,0,0,0.1); }
  100% { color: #333; }
}


header {
  height: 60px;
  position: fixed; z-index: 5; top:0; width:100%;
  .content { position: relative;}

  background-color #e6f5ff77
  backdrop-filter: blur(10px) saturate(200%);
  -webkit-backdrop-filter: blur(10px) saturate(200%);

  padding 10px 0
  a.logo {
    push-btn()
    display: inline-block
    text-decoration none

    img {
      float left
      width 40px;
      margin 0 5px 0 5px
    }

    line-height 40px
    font-size 18px

    color: #000
    font-weight 200
    strong {
      font-weight 800
      font-size 19px
      letter-spacing -3px
      color: #656bc5;
    }
    &:hover {
      filter:saturate(2)
    }
    @media (max-width: 620px){
      span { display:none; }
    }
  }
}
